allure-behave==2.13.2
behave==1.2.6
boto3==1.26.138
botocore==1.29.138
jmespath==1.0.1
psycopg==3.1.9
psycopg-pool==3.1.7
psycopg2-binary==2.9.6
pymongo==4.3.3
selenium-page-factory==2.6
setuptools==67.8.0
webdriver-manager==3.8.6
pynput==1.7.6
selenium~=4.10.0